mixin offers-list(offers, type)

  case type
    when `search`
      ul.search-results__list
        each offer in offers
          li.search-results__item
            div(class=`ticket-card ticket-card--color${offer.picture.background}`)
              .ticket-card__img
                img(src=`/img/${offer.picture.image}` srcset=`/img/${offer.picture.image2x} 2x` alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label= `${offer.type === 'buy' ? 'Куплю' : 'Продам'}`
                .ticket-card__categories
                  each category in offer.category
                    a(href="#")= category
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#")= offer.title
                  p.ticket-card__price
                    span.js-sum= offer.sum
                    |  ₽
                .ticket-card__desc
                  p= `${offer.description.length > 55 ? offer.description.slice(0, 52) + '...' : offer.description}`
    when `my-offers`
      ul
        each offer in offers
          li.tickets-list__item.js-card
            div(class=`ticket-card ticket-card--color${offer.picture.background}`)
              .ticket-card__img
                img(src=`/img/${offer.picture.image}` srcset=`/img/${offer.picture.image2x} 2x` alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label= `${offer.type === 'buy' ? 'Продам' : 'Куплю'}`
                .ticket-card__categories
                  each category in offer.category
                    a(href="#")= category
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#")= offer.title
                  p.ticket-card__price
                    span.js-sum= offer.sum
                      |  ₽
              button.ticket-card__del.js-delete(type="button") Удалить
    default
      ul
        each offer in offers
          li.tickets-list__item
            div(class=`ticket-card ticket-card--color${offer.picture.background}`)
              .ticket-card__img
                img(src=`/img/${offer.picture.image}` srcset=`/img/${offer.picture.image2x} 2x` alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label= `${offer.type === 'buy' ? 'Куплю' : 'Продам'}`
                .ticket-card__categories
                  each category in offer.category
                    a(href="#")= category
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#")= offer.title
                  p.ticket-card__price
                    span.js-sum= offer.sum
                    |  ₽
                .ticket-card__desc
                  p= `${offer.description.length > 55 ? offer.description.slice(0, 52) + '...' : offer.description}`
