extends layout.pug

block content
  main.page-content
    section.login
      if errors
        .ticket-form__errors
          h2.ticket-form__errors-title Ошибка отправки формы
          ul.ticket-form__errors-list
            each error in errors
              li=error.msg
      form.login__form.form(action="/login" method="post")
        .login__title
          a.login__link(href="/register") Регистрация
          h2 Вход
        .form__field.login__field
          input#user-email.js-field(
            type="email"
            name="email"
            value= userData ? userData.email : ``
          )
          label(for="email") Эл. почта
          span Обязательное поле
        .form__field.login__field
          input#user-password.js-field(
            type="password"
            name="password"
            value= userData ? userData.password : ``
          )
          label(for="password") Пароль
          span Обязательное поле
        input(type='hidden' name='_csrf' value=csrf)
        button.login__button.btn.btn--medium.js-button(type="submit") Войти
