extends layout.pug

block content
  main.page-content
    section.ticket
      .ticket__wrapper
        h1.visually-hidden Карточка объявления
        .ticket__content
          .ticket__img
            img(src=`/img/${offer.picture}` srcset=`/img/${offer.picture} 2x` alt="Изображение товара")
          .ticket__info
            h2.ticket__title= offer.title
            .ticket__header
              p.ticket__price
                span.js-sum= offer.sum
                |  ₽
              p.ticket__action= `${offer.type === 'buy' ? 'Куплю' : 'Продам'}`
            .ticket__desc
              p= offer.description
            .ticket__data
              p
                b Дата добавления:
                span= offer.date
              p
                b Автор:
                a(href="#")= ` ${offer.users.firstname} ${offer.users.lastname}`
              p
                b Контакты:
                a(href="mailto:shkatulkin@ya.ru")= ` ${offer.users.email}`
            ul.ticket__tags
              each category in offer.categories
                li
                  a.category-tile.category-tile--small(href=`/offers/category/${category.id}`)
                    span.category-tile__image
                      img(src=`/img/cat${index > 0 ? `0${index + 1}` : ``}.jpg` srcset=`/img/cat${index > 0 ? `0${index + 1}` : ``}@2x.jpg 2x` alt="Иконка категории")
                    span.category-tile__label= category.title
        .ticket__comments
          h2.ticket__subtitle Коментарии
          .ticket__comment-form
            if errors
              .ticket-form__errors
                h2.ticket-form__errors-title Ошибка отправки формы
                ul.ticket-form__errors-list
                  each error in errors
                    li=error.msg
            form.form.comment-form(action=`/offers/${offer.id}` method="post")
              .comment-form__header
                a.comment-form__avatar.avatar(href="#")
                  img(src="/img/avatar.jpg" srcset="/img/avatar@2x.jpg 2x" alt="Аватар пользователя")
                p.comment-form__author Вам слово
              .comment-form__field
                .form__field
                  textarea#comment-field.js-field(name="text" cols="30" rows="10" maxlength="400" minlength="50")
                  label(for="comment-field") Текст комментария
                  span Обязательное поле
              button.comment-form__button.btn.btn--white.js-button(type="submit" disabled="") Отправить
          .ticket__comments-list
            if offer && offer.comments
              ul.comments-list
                each comment in offer.comments
                  li
                    .comment-card
                      .comment-card__header
                        a.comment-card__avatar.avatar(href="#")
                          img(src=`/img/${comment.users.avatar.split(`, `)[0]}` srcset=`/img/${comment.users.avatar.split(`, `)[1]} 2x` alt="Аватар пользователя")
                        p.comment-card__author= `${comment.users.firstname} ${comment.users.lastname}`
                      .comment-card__content
                        p= comment.text

